<%- include ('partials/header') %>
<h1 class="heading">
	WeatherBug
</h1>
<p class="para">
	We provides all solutions regarding weather forecasting for more than 2000 cities all across the world.
	Our data is so much reliable that even Nasa,ISRO and more than 180 countries organisation relies on us...
	
</p>
<p class="byline">
	
	Faiz Alam,Founder(WeatherBug)
</p>
<%- include ('partials/footer') %>