<!DOCTYPE html>

<html>

    <head>

        <title>WEATHERBUG</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link rel="stylesheet" href="/stylesheets/landing.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<style>
			
		</style>
				

    </head>

    <body>



    <div class="container">

    

    </div>



    <div id="landing-header">

		<h1 style="color:yellow">Welcome to <span style="color:green">WEATHERBUG</span></h1>
		<p style="color:red">
			<b style="font-size:20px">We provides you the most accurate live weather </b>
		</p>

         <a href="/index" class="btn btn-lg btn-danger" style="margin-top:50px">Click here to get started</a>
    </div>



    <ul class="slideshow">

      <li></li>

      <li></li>

      <li></li>

      <li></li>

      <li></li>

    </ul>
	</body>
</html>
