body {

  background-color: #000;

}
#landing-header {

  z-index: 1;

  position: relative;

  text-align: center;

  padding-top: 40vh;

}

#landing-header h1 {

  color: #fff;

}
.slideshow { 

  position: fixed;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  z-index: 0;

  list-style: none;

  margin: 0;

  padding: 0;

}



.slideshow li { 

  width: 100%;

  height: 100%;

  position: absolute;

  top: 0;

  left: 0;

  background-size: cover;

  background-position: 50% 50%;

  background-repeat: no-repeat;

  opacity: 0;

  z-index: 0;

  animation: imageAnimation 50s linear infinite; 

}

.slideshow li:nth-child(1) { 

  background-image: url(https://3blaws.s3.amazonaws.com/styles/slick_slide_multimedia-asset/s3/images/extreme-weather-national-geographic.jpg?itok=CKTXLD1t)
}

.slideshow li:nth-child(2) { 

  background-image: url(https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/cache.gettyimages.com/f9b59c8983334ed2bb4ee948191df7ba.jpg);

  animation-delay: 10s; 

}

.slideshow li:nth-child(3) { 

  background-image: url(http://assets.smoothradio.com/2013/30/weather-1375260252-article-1.jpg);

  animation-delay: 20s; 

}

.slideshow li:nth-child(4) { 

  background-image: url(https://th.bing.com/th/id/OIP.-r67youB7T4E4hHB4vrKAwHaEo?pid=Api&rs=1);

  animation-delay: 30s; 

}

.slideshow li:nth-child(5) { 

  background-image: url(https://th.bing.com/th/id/OIP.ZLSrCRfmyN5znimLHIbrKwHaD4?pid=Api&rs=1);

  animation-delay: 40s; 

}
@keyframes imageAnimation { 

  0% { 

    opacity: 0; 

    animation-timing-function: ease-in;

  }

  10% {

    opacity: 1;

    animation-timing-function: ease-out;

  }

  20% {

    opacity: 1

  }

  30% {

    opacity: 0

  }

}
.no-cssanimations .slideshow li {

    opacity: 1;

}

